<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <meta property="og:title" content="About Me">
    <meta property="og:url" content="https://odmg.dev/project4">
    <meta property="og:description" content="Get to know me, a software developer building impactful products.">
    <meta property="og:type" content="profile">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Add this line to include Font Awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style/about.css">
    <script src="/static/js/dark-mode.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="links">
            <a class="link" href="/">Home</a>
            <a class="link" href="posts">Posts</a>
        </div>

        <button onclick="myFunction()" id="darkModeToggle" class="toggle-button">
            <i class="fas fa-sun"></i>
            <i class="fas fa-moon"></i>
        </button>
    </nav>

    <div class="header">
        <h1 style="color: lightblue;">Demo Project</h1>
    </div>

    <div class="project">
        <h2>product-crud-endpoints</h2>
        <p>Product CRUD RESTful endpoints. Using <code>goroutines</code> and <code>channels</code> to <code>concurrently create products</code>. Including a <code>script</code> that is used to <code>test database connection</code> when you run the program.</p>
        <p> View the <a href="https://github.com/Osagie-Godstand/product-crud-endpoints.git">GitHub Repository</a></p>
        <p> You can also find the code that creates products concurrently in <a href="https://gist.github.com/Osagie-Godstand/6d0d2a9abc29b7e2451d09165dfc148f">GitHub Gists</a></p>       
    </div>
    <h3>Creating Products</h3>
    <img src="static/images/create_products.png" alt="creating products" width="600" height="300">
    <p>As demonstrated in the screenshot of my post request, the process of creating multiple products concurrently utilizes only <code>41 bytes of memory</code> and completes in a mere <code>5 milliseconds</code>, showcasing the efficiency achieved through the use of goroutines and channels.</p>
    <h3>Fetching Products</h3>
    <img src="static/images/get_products.png" alt="fetching product from db" width="600" height="300">
    <p> ... </p>
    <h3>Fetching Product by ID</h3>
    <img src="static/images/get_productbyid.png" alt="fetching a product" width="600" height="300">
    <p> ... </p>
    <h3>Updating a Product</h3>
    <img src="static/images/update_product.png" alt="updating a product" width="600" height="300">
    <p> ... </p>
    <h3>Deleting Product</h3>
    <img src="static/images/delete_product.png" alt="deleting product from db" width="600" height="300">
    <p> ... </p>
    <h3>Running the Program</h3>
    <img src="static/images/fresh_start.png" alt="running the program the first time" width="600" height="300">
    <p> The product is only created if the data that the script intends to create does not already exist in your database. </p>
    <h3>Rerunning the Program</h3> 
    <img src="static/images/rerunning.png" alt="running the program again" width="600" height="300">
    <p> Rerunning the program demonstrates that the script will skip if the SKU of that product already exists in the database. </p> 
    <div class="links">
        <a href="posts">Back to Posts</a>
    </div>
    <footer>
    <p>&copy; 2023 <a href="/"><b>© 2023 Osagie Godstand</b></a>.
    </p>
    </footer>
</body>
</html>
