<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <meta property="og:title" content="About Me">
    <meta property="og:url" content="https://odmg.dev/about">
    <meta property="og:description" content="Get to know me, a software developer building impactful products.">
    <meta property="og:type" content="profile">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Add this line to include Font Awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style/about.css">
    <script src="/static/js/dark-mode.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="links">
            <a class="link" href="/">Home</a>
            <a class="link" href="posts">Posts</a>
        </div>

        <button onclick="myFunction()" id="darkModeToggle" class="toggle-button">
            <i class="fas fa-sun"></i>
            <i class="fas fa-moon"></i>
        </button>
    </nav>

    <div class="header">
        <h1 style="color: lightblue;">Demo Project</h1>
    </div>

    <div class="project">
        <h2>product-crud-endpoints</h2>
        <p>Product CRUD RESTful endpoints. Using goroutines and channels to concurrently create products. Including a script that is used to test product creation and database when you run the program.</p>
        <a href="https://github.com/Osagie-Godstand/product-crud-endpoints.git">GitHub Repository</a>
    </div>
    <h3>Fetching Products</h3>
    <img src="static/images/products-fetch.png" alt="fetching product from db" width="600" height="300">
    <h3>Running the Program</h3> 
    <img src="static/images/scripts.png" alt="fetching product from db" width="600" height="300">
    <p>When you run the program a script will try to create some products unless the SKU of that product already exists in the database.</p> 
    <div class="links">
        <a href="posts">Back to Posts</a>
    </div>
    <footer>
    <p>&copy; 2023 <a href="/"><b>© 2023 Osagie Godstand</b></a>.
    </p>
    </footer>
</body>
</html>
