<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <title>My Posts</title>
    <meta property="og:title" content="My Posts">
    <meta property="og:url" content="https://osagie.gg/posts">
    <meta property="og:description" content="Explore my projects and their links on GitHub.">
    <meta property="og:type" content="website">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/style/about.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1 style="color: lightblue;">Demo Project</h1>
    </div>
    <div class="project">
        <h2>product-crud-endpoints</h2>
        <p>Product CRUD RESTful endpoints. Using goroutines and channels to concurrently create products. Including a script that is used to test product creation and database when you run the program.</p>
        <a href="https://github.com/Osagie-Godstand/product-crud-endpoints.git">GitHub Repository</a>
    </div>
    <h3>Fetching Products</h3>
    <img src="static/images/products-fetch.png" alt="fetching product from db" width="600" height="300">
    <h3>Running the Program</h3> 
    <img src="static/images/scripts.png" alt="fetching product from db" width="600" height="300">
    <p>When you run the program a script will try to create some products unless the SKU of that product already exists in the database.</p> 
    <div class="links">
        <a href="posts">Back to Posts</a>
    </div>
    <footer>
    <p>&copy; 2023 <a href="/"><b>© 2023 Osagie Godstand</b></a>.
    </p>
    </footer>
</body>
</html>
