<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Posts</title>
    <meta property="og:title" content="My Posts">
    <meta property="og:url" content="https://odmg.dev/posts">
    <meta property="og:description" content="Explore my projects and their links on GitHub.">
    <meta property="og:type" content="website">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/style/about.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1 style="color: lightblue;">Demo Project</h1>
    </div>
    <div class="project">
        <h2>go-k8s-google-cluster</h2>
        <p>Demo setup for deploying Docker containerized Go applications to an Autopilot Cluster in Google Cloud Platform's(GCP) Kubernetes Engine(GKE) using Makefile automation.</p>
        <a href="https://github.com/Osagie-Godstand/go-k8s-google-cluster.git">GitHub Repository</a>
        <p>find all the commands for creation and deployment in the cmd.txt file of the repo.</p>
    </div>
    <h3>Kubernetes Autopilot Cluster</h3>
    <img src="static/images/kubernetes.png" alt="proof of deployment" width="600" height="300">
     <h3>Successful Deployment Status</h3>
    <img src="static/images/deployment.png" alt="proof of deployment" width="600" height="300">
    <div class="links">
    <h3>Service for Discovery & Load Balancing</h3>
    <img src="static/images/service.png" alt="proof of deployment" width="600" height="300">
    <h3>Deployment, Service & Pod Status from Terminal</h3>
    <img src="static/images/deploymentstatus.png" alt="proof of deployment" width="600" height="300">
    <div class="links">
        <a href="posts">Back to Posts</a>
    </div>
    <footer>
        <p>&copy; 2023 <a href="/"><b>© 2023 Osagie Godstand</b></a>.</p>
    </footer>
</body>
</html>
