<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <meta property="og:title" content="About Me">
    <meta property="og:url" content="https://odmg.dev/project2">
    <meta property="og:description" content="Get to know me, a software developer building impactful products.">
    <meta property="og:type" content="profile">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Add this line to include Font Awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style/about.css">
    <script src="/static/js/dark-mode.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="links">
            <a class="link" href="/">Home</a>
            <a class="link" href="posts">Posts</a>
        </div>

        <button onclick="myFunction()" id="darkModeToggle" class="toggle-button">
            <i class="fas fa-sun"></i>
            <i class="fas fa-moon"></i>
        </button>
    </nav>

    <div class="header">
        <h1 style="color: lightblue;">Demo Project</h1>
    </div>

    <div class="project">
        <h2>chi-postgres-user-account</h2>
        <p>User Account CRUD with <b>login</b> and <b>logout</b> functions that uses <b>session validation</b>. Including <b>integration test</b> and <b>unit tests</b> that is used to <b>test token generation as well as creating a user</b>.</p>
        <p> View the <a href="https://github.com/Osagie-Godstand/chi-postgres-user-account.git">GitHub Repository</a></p>
        <p> Find the code that generates session tokens and performs session validation in <a href="https://gist.github.com/Osagie-Godstand/5ba8df67fc679b13a229b5755d2befd9">GitHub Gists</a></p>
    </div>
    <h3> === Integration Test</h3>
    <img src="static/images/UserRepoIntegrationTest.png" alt="unit test" width="600" height="300">
    <p> Integration test conducted by adding a transaction based db driver for postgres using the go-txdb and sql-migrate libraries. Find the code for TestUserRepository in <a href="https://gist.github.com/Osagie-Godstand/d279278b2a994591578556cc66c4b40a">GitHub Gists</a> </p> 
    <h3> === Unit Tests</h3>
    <img src="static/images/testuserandtoken.png" alt="unit test" width="600" height="300">
    <p> The unit tests are for creating a user and generating a random token for a session. Find the code for session token generation, creating a user account as well as the mock user repository in <a href="https://gist.github.com/Osagie-Godstand/f4f1cda0a9bd3a0924e11464cdba78eb">GitHub Gists</a></p>
    <h3> Creating User Account</h3>
    <img src="static/images/create_user.png" alt="Creating User" width="600" height="300">
    <p> The response for creating a user only includes the <b>encrypted password</b> as proof of successful creation. This data is a backend only response, it is never visible on the frontend. </p>
    <h3>User Login</h3>
    <img src="static/images/user_login.png" alt="user login" width="600" height="300">
    <p> User login is accomplished using an <b>email</b> and <b>password</b>, and the process <b>generates a session</b> for the user. </p>
     <h3>User Logout</h3>
    <img src="static/images/user_logout.png" alt="user logout" width="600" height="300">
    <p> Logging out immediately deletes generated session. </p>
    <h3>Fetching User By ID</h3>
    <img src="static/images/get_userbyid.png" alt="get user by id" width="600" height="300">
    <p> Universally Unique Identifier <b>(UUID)</b> is the prerequisite to find a specific user. </p>
    <h3>Update User Details</h3>
    <img src="static/images/update_user1.png" alt="update user" width="600" height="300">
    <p> Updates can only be made to the firstname and lastname. </p>
     <h3>Fetching Users</h3>
    <img src="static/images/get_users.png" alt="proof user updated" width="600" height="300">
    <p> We can see that the <b>encrypted password</b> is no longer visible in the user response, this is because the encrypted password is disclosed exclusively during the user creation process and is not showcased again when retrieving users or executing additional requests. <b>Thunder Client</b> serves as the tool for conducting these API tests. </p>
     <h3>Deleting User Account</h3>
    <img src="static/images/delete_userbyid.png" alt="delete user" width="600" height="300">
    <p> There are several improvements that can be made to my program, such as updating user passwords and implementing a <b>'forgot password'</b> function. I also acknowledge that opting for a username alone, rather than using both firstname and lastname, is a viable alternative based on your design choice. </p>
    <div class="links">
        <a href="posts">Back to Posts</a>
    </div>
    <footer>
    <p>&copy; 2024 <a href="/"><b>Osagie Godstand</b></a>.
    </p>
    </footer>
</body>
</html>


