<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <meta property="og:title" content="About Me">
    <meta property="og:url" content="https://odmg.dev/about">
    <meta property="og:description" content="Get to know me, a software developer building impactful products.">
    <meta property="og:type" content="profile">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Add this line to include Font Awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style/about.css">
    <script src="/static/js/dark-mode.js" defer></script>
</head>
<body>
    <button onclick="myFunction()" id="darkModeToggle" class="toggle-button">
        <i class="fas fa-sun"></i>
        <i class="fas fa-moon"></i>
    </button>
</body>
<body>
    <div class="header">
        <h1 style="color: lightblue;">Demo Project</h1>
    </div>
    <div class="project">
        <h2>gRPC-weather-data-fetcher</h2>
        <p>An endpoint that efficiently serves secured weather data via gRPC and HTTP by combining Protocol Buffers, the Gorilla Mux router, and TLS (Transport Layer Security) encryption. It uses a self-signed TLS certificate suitable for development purposes only.</p>
        <a href="https://github.com/Osagie-Godstand/gRPC-weather-data-fetcher.git">GitHub Repository</a>
    </div>

    <!-- Add an image with the <img> tag -->
    <h3>Weather Data Query </h3>
    <img src="static/images/weather-query.png" alt="weather fetcher response" width="600" height="300">

    <h3>Weather Data Response </h3>
    <img src="static/images/weather-response.png" alt="weather fetcher response" width="600" height="300">
    <p>Sample display of a weather data query and response.</p> 
    <div class="links">
        <a href="posts">Back to Posts</a>
    </div> 
    <footer>
        <p>&copy; 2023 <a href="/"><b>© 2023 Osagie Godstand</b></a>.</p>
    </footer>
</body>
</html>

