<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/static/styles/about.css">
    <script src="/static/js/dark-mode.js" defer></script>
</head>

<body>
    <nav class="navbar">
        <div class="links">
            <a class="link" href="/">Home</a>
            <a class="link" href="posts">Posts</a>
        </div>

        <button onclick="myFunction()" id="darkModeToggle" class="toggle-button">
            <i class="fas fa-sun"></i>
            <i class="fas fa-moon"></i>
        </button>
    </nav>

    <div class="header">
        <h1 style="color: lightblue;">Demo Project</h1>
    </div>

    <div class="project">
        <h2>gRPC-weather-data-fetcher</h2>
        <p> An endpoint that efficiently serves secured weather data via <b>gRPC</b> with <b>TLS encryption</b> and also hosts an <b>HTTP server</b> using the <b>Gorilla Mux router</b>.</p>
       <p> View the <a href="https://github.com/Osagie-Godstand/gRPC-weather-data-fetcher.git">GitHub Repository</a></p>
    <p> Find the code using Protocol Buffers to provide efficient data serialization in <a href="https://gist.github.com/Osagie-Godstand/181e7d31cd9ff48b20494fb1fe757bbb">GitHub Gists</a></p>       
    </div>

    <!-- Add an image with the <img> tag -->
     <h3>grpcurl Query and Response </h3>
    <img src="static/images/grpcurl-weather.png" alt="weather fetcher query/response" width="600" height="300">
    <p> Running the program, then querying the weather data with a different terminal using grpcurl. </p>  
    <h3>http Weather Data Query </h3>
    <img src="static/images/weather-query.png" alt="weather fetcher response" width="600" height="300">
    <p> The weather data query is done by calling the city and country name. </p>
    <h3>http Weather Data Response </h3>
    <img src="static/images/weather-response.png" alt="weather fetcher response" width="600" height="300">
    <p> Displaying the successful weather data query response using Thunder Client. </p>
    <div class="links">
        <a href="posts">Back to Posts</a>
    </div> 
    <footer>
        <p>&copy; 2024 <a href="/"><b>Osagie Godstand</b></a>.</p>
    </footer>
</body>
</html>

