<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <meta property="og:title" content="About Me">
    <meta property="og:url" content="https://osagie.gg/about">
    <meta property="og:description" content="Get to know me, a software developer building impactful products.">
    <meta property="og:type" content="profile">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/style/about.css" rel="stylesheet">
</head>
<body>
    <div class="circles">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class "circle"></div>
        <div class="circle"></div>
    </div>
    <div class="title">
        <h1 style="color: lightblue;">About Me</h1>
    </div>
    <div class="description">
        <p>Software developer with a passion for building impactful products. <br> 🌱 Always learning and implementing, I thrive on innovation and progress. 🚀</p>
        <p>Experienced in server-side development. I'm a collaborative problem solver. 🤝</p>
        <p>I am primarily skilled in Go and can adapt to new tools, languages and paradigms. 👨🏾‍💻</p>
    </div>
    <div class="links">
        <a class="link" href="/">Home</a>
        <a class="link" href="/posts">Posts</a>
        <a class="link" href="https://github.com/Osagie-Godstand">Github</a>
        <a class="link" href="https://www.linkedin.com/in/osagie-godstand-2a0472156/">LinkedIn</a>
    </div>
</body>
</html>
