<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <meta property="og:title" content="About Me">
    <meta property="og:url" content="https://odmg.dev/about">
    <meta property="og:description" content="Get to know me, a software developer building impactful products.">
    <meta property="og:type" content="profile">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Add this line to include Font Awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style/about.css">
    <script src="/static/js/dark-mode.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="links">
            <a class="link" href="/">Home</a>
            <a class="link" href="posts">Posts</a>
        </div>

        <button onclick="myFunction()" id="darkModeToggle" class="toggle-button">
            <i class="fas fa-sun"></i>
            <i class="fas fa-moon"></i>
        </button>
    </nav>


    <div class="title">
        <h1 style="color: lightblue;">About Me</h1>
    </div>

    <img src="static/images/image.png" alt="image" width="170" height="100" style="border-radius: 50%;">

    <div class="description">
    <p><strong>Hi, I'm Osagie.</strong></p>
        <p>I'm a software developer who's genuinely passionate about creating software that can make a positive impact. 🌱 I'm always striving to learn and grow. 🚀</p>
        <p>My experience primarily lies in server-side development, where I've had the opportunity to collaborate with a team to solve problems and build solutions together.</p>
        <p>I've mainly been programming with Go, but have dabbled and also open to embracing new tools, languages, and paradigms. I'm confident in my ability to adapt to new challenges and continue learning. 👨🏾‍💻</p>
        <p>Explore my <a href="/posts">Posts</a></p>
        <p>Thank you for visiting my website!</p>
    </div>
    <div class="o-links">
        <a class="o-link" href="https://github.com/Osagie-Godstand">Github</a>
    </div>
    <div class="o-links">
        <a class="o-link" href="https://www.linkedin.com/in/osagie-godstand-2a0472156/">LinkedIn</a>
    </div>
    <footer>
        <p>&copy; 2023 <a href="/"><b>© 2023 Osagie Godstand</b></a>.
        </p>
    </footer>
</body>
</html>

