<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Posts</title>
    <meta property="og:title" content="My Posts">
    <meta property="og:url" content="https://odmg.dev/posts">
    <meta property="og:description" content="Explore my projects and their links on GitHub.">
    <meta property="og:type" content="website">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/style/about.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1 style="color: lightblue;">Posts</h1>
    </div>
    <div class="navigation">
        <a href="/">Home</a>
        <a href="/about">About</a>	
        <a href="https://github.com/Osagie-Godstand">GitHub</a>
        <a href="https://www.linkedin.com/in/osagie-godstand-2a0472156/">LinkedIn</a>
    </div>
    <div class="project-list">
        <h2>Demo Projects</h2>
        <ul>
            <li> 2023-10-29 <a href="project4">product-crud-endpoints</a></li> 
            <li> 2023-10-26 <a href="project3">go-k8s-google-cluster</a></li>
            <li> 2023-10-22 <a href="project2">chi-postgres-user-account</a></li>
            <li> 2023-10-22 <a href="project1">gRPC-weather-data-fetcher</a></li>
        </ul>
        <h2>Blog Posts</h2>
        <ul>
            <li> 2023-11-12 <a href="blog1">Unveiling the Power of the Terminal</a></li> 
            <li> more <a href="">More loading...</a></li>
        </ul> 
    </div>
    <footer>
    <p>&copy; 2023 <a href="/"><b>© 2023 Osagie Godstand</b></a>.
    </p>
    </footer>
</body>
</html>
