<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/static/styles/about.css">
    <script src="/static/js/dark-mode.js" defer></script>
</head>

<body>
    <nav class="navbar">
        <div class="links">
            <a class="link" href="/">Home</a>
            <a class="link" href="about">About</a>
            <a class="link" href="posts">Posts</a>
        </div>

        <button onclick="myFunction()" id="darkModeToggle" class="toggle-button">
            <i class="fas fa-sun"></i>
            <i class="fas fa-moon"></i>
        </button>
        </nav>
    <div class="header">
        <h1 style="color: lightblue;">Customizing Linux Keybindings</h1>
    </div>

    <div class="text-sm">
        By Osagie Godstand
        
        on Feb 03, 2024
        
    </div>

  <div class="content">
        <p>My experience transforming Linux key bindings to better suit the familiarity of a Mac OS user. By leveraging the power of GNOME Tweaks and Terminal commands, I successfully swapped key positions and redefined essential shortcuts.</p>

        <img src="static/images/tweaks.png" alt="nvim" width="700" height="600">

        <h2>Swapping Ctrl and Alt</h2>
        <p>My first step was to bring the familiarity of Mac OS to Linux by switching the positions of Ctrl and Alt keys. Using GNOME Tweaks, I effortlessly adjusted the keyboard layout to align with my muscle memory, making the transition smoother and more enjoyable.</p>

        <img src="static/images/ktweaks.png" alt="nvim" width="700" height="600">

        <h2>Redefining Shortcuts</h2>
        <p>In the pursuit of a seamless experience, I decided to redefine copy and paste shortcuts. Navigating to Terminal preferences, I edited the shortcuts to mirror the Mac OS conventions – Ctrl+C for copy and Ctrl+V for paste. This small tweak made a significant impact on my daily workflow.</p>

        <img src="static/images/prefrences.png" alt="nvim" width="700" height="600">

        <h2>To Conclude</h2>
        <p>In the realm of personalizing Linux, my journey was driven by a desire to make the operating system uniquely mine. By swapping key positions and redefining essential shortcuts, I've successfully molded Linux to cater to my Mac OS-centric habits, creating an environment that feels like an extension of my computing history.</p>
                
        <div class="links">
            <a href="posts">Back to Posts</a>
        </div>
    </div>
    
  <footer>
        <p>&copy; 2024 <a href="/"><b>Osagie Godstand</b></a>.</p>
    </footer>
</body>
</html>
