<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Projects</title>
    <meta property="og:title" content="My Projects">
    <meta property="og:url" content="https://osagie.gg/posts">
    <meta property="og:description" content="Explore my projects and their links on GitHub.">
    <meta property="og:type" content="website">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/style/about.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>gRPC-weather-data-fetcher</title>
</head>
<body>
    <div class="header">
        <h1 style="color: lightblue;">Demo Project</h1>
    </div>
    <div class="project">
        <h2>gRPC-weather-data-fetcher</h2>
        <p>An endpiont that efficiently serves secured weather data via gRPC and HTTP by combining Protocol Buffers, the Gorilla Mux router, and TLS (Transport Layer Security) encryption. It uses a self-signed TLS certificate suitable for development purposes only.</p>
        <a href="https://github.com/Osagie-Godstand/gRPC-weather-data-fetcher.git">GitHub Repository</a>
        <p>To generate your own cert.pem and key.pem files for this project use:</p>
        <code>go run /usr/local/go/src/crypto/tls/generate_cert.go --rsa-bits=2048 --host=localhost</code>
    </div>
    <div class="links">
        <a href="posts">Back to Posts</a>
    </div>
    <footer>
    <p>&copy; 2023 <a href="/"><b>© 2023 Osagie Godstand</b></a>.
    </p>
    </footer>
</body>
</html>
