<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <meta property="og:title" content="About Me">
    <meta property="og:url" content="https://odmg.dev/project3">
    <meta property="og:description" content="Get to know me, a software developer building impactful products.">
    <meta property="og:type" content="profile">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Add this line to include Font Awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style/about.css">
    <script src="/static/js/dark-mode.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="links">
            <a class="link" href="/">Home</a>
            <a class="link" href="posts">Posts</a>
        </div>

        <button onclick="myFunction()" id="darkModeToggle" class="toggle-button">
            <i class="fas fa-sun"></i>
            <i class="fas fa-moon"></i>
        </button>
    </nav>

    <div class="header">
        <h1 style="color: lightblue;">Demo Project</h1>
    </div>
    <div class="project">
        <h2>go-k8s-google-cluster</h2>
        <p>Demo setup for deploying <b>Docker</b> containerized Go applications to an <b>Autopilot Cluster</b> in <b>Google Cloud Platform's(GCP)</b> and <b>Google Kubernetes Engine(GKE)</b> using <b>Makefile automation</b>.</p>
        <p> View the <a href="https://github.com/Osagie-Godstand/go-k8s-google-cluster.git">GitHub Repository</a></p>
        <p> Find the Makefile script that automates deployment in <a href="https://gist.github.com/Osagie-Godstand/6bed6854febf0c5f9dee9cec9ca417d3">GitHub Gists</a></p>       
    </div>

    <h3>Kubernetes Autopilot Cluster</h3>
    <img src="static/images/kubernetes.png" alt="proof of deployment" width="600" height="300">
    <p> ... </P>
     <h3>Successful Deployment Status</h3>
    <img src="static/images/deployment.png" alt="proof of deployment" width="600" height="300">
    <p> ... </P>
    <div class="k-links">
    <h3>Service for Discovery & Load Balancing</h3>
    <img src="static/images/service.png" alt="proof of deployment" width="600" height="300">
    <p> ... </P>
    <h3>Deployment, Service & Pod Status from Terminal</h3>
    <img src="static/images/deploymentstatus.png" alt="proof of deployment" width="600" height="300">
    <p>Display of my GKE sample app deployment and status.</p> 

    <div class="k-links">
        <a href="posts">Back to Posts</a>
    </div>

    <footer>
        <p>&copy; 2024 <a href="/"><b>Osagie Godstand</b></a>.</p>
    </footer>

</body>
</html>