<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Projects</title>
    <meta property="og:title" content="My Projects">
    <meta property="og:url" content="https://osagie.gg/posts">
    <meta property="og:description" content="Explore my projects and their links on GitHub.">
    <meta property="og:type" content="website">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/style/about.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1 style="color: lightblue;">chi-postgres-user-account</h1>
    </div>
    <div class="project">
        <h2>chi-postgres-user-account</h2>
        <p>User Account CRUD, login and logout using sessions validation. Made with go-chi router and PostgreSQL with Docker containerization. This project also includes automation for program compilation using a Makefile.</p>
        <a href="https://github.com/Osagie-Godstand/chi-postgres-user-account.git">GitHub Repository</a>
        <p>To build the target, use:</p>
        <code>make build-app</code>
        <p>To run the target, use:</p>
        <code>make run</code>
        <p>To run the API inside a Docker container, use:</p>
        <code>make docker</code>
    </div>
    <div class="links">
        <a href="posts">Back to Posts</a>
    </div>
    <footer>
    <p>&copy; 2023 <a href="/"><b>© 2023 Osagie Godstand</b></a>.
    </p>
    </footer>
</body>
</html>
